In [2]:
import numpy as np
import pandas as pd

In [56]:
data = pd.Series([5, 3, 1, 4, 2], index=['a', 'f', 'd', 'c', 'b'])
data.loc['f':'c']

f    3
d    1
c    4
dtype: int64

In [45]:
data = pd.Series({'a': 1, 'b': 2, 'c': 3}, index=['c', 'a'])
data.index

Index(['c', 'a'], dtype='object')

In [25]:
data['b':'d']

Series([], dtype: int32)

In [6]:
data.values

array([0, 1, 2, 3])

In [16]:
data[2]

2

In [8]:
type(data[1:3])

pandas.core.series.Series

In [72]:
population_dict = {'California': 1000, 'Florida': 2000, 'Illinois': 3000, 'New York': 4000}
area_dict = {'Florida': 3000, 'California': 4000, 'Illinois': 3000, 'New York': 4000}
population_series = pd.Series(population_dict)
area_series = pd.Series(area_dict)
state_df = pd.DataFrame({'population': population_series, 'area': area_series})

In [118]:
type(state_df.iloc[0])

pandas.core.series.Series

In [86]:
type(state_df.index[1:3])

pandas.core.indexes.base.Index

In [85]:
type(state_df['area'] > 3000)

pandas.core.series.Series

In [87]:
state_df.loc[state_df['area'] > 3000]

            area  population
California  4000        1000
New York    4000        4000

In [92]:
state_df[1:3]

          area  population
Florida   3000        2000
Illinois  3000        3000

In [37]:
np.random.rand(3, 2)

array([[ 0.03118314,  0.02170284],
       [ 0.42112413,  0.97743625],
       [ 0.85556943,  0.32195248]])

In [39]:
l = [[0.03118314,  0.02170284],
       [0.42112413,  0.97743625],
       [0.85556943,  0.32195248]]
pd.DataFrame(l, columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.031183  0.021703
b  0.421124  0.977436
c  0.855569  0.321952

In [44]:
indA = pd.Index([7, 5, 1, 3, 9])
indB = pd.Index([11, 5, 7, 3, 2])
indA & indB

Int64Index([7, 5, 3], dtype='int64')